*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(25, 25, 26, 0.862);
    color: antiquewhite;
  }
.mainPage{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
